@charset "UTF-8";

.board {
	width: 90%;
	display: flex;
}

.titlebox {
	color: white;
	margin: 10px 10px 20px 10px;
	background: #3e496f;
	width: 350px;
	height: 20px;
	display: flex;
	align-items: center;
	padding: 20px
}

.box {
	margin: 10px 10px 20px 10px;
	background: #b0eaef;
	width: 350px;
	height: 100px;
	padding: 1px 20px 22px;
}

.button {
	float: right;
	background: white;
	color: black;
	position: relative;
	left: 15px;
	top: 95px;
}

body div {
	position: relative;
	left: 50px;
	top: 70px;
}

header button {
	font-size: 15px;
	padding: 10px 50px;;
	background: #5bd0ff;
	color: white;
	position: absolute;
	left: 1097px;
	top: 50px;
	border: 0;
}

header h1 {
	position: absolute;
	transform: rotate(-40deg);
	top: 70px;
	color: #709c70;
}